  <div class="text-center">
    <button type="button" class="btn add-items-button" data-bs-toggle="modal" data-bs-target="#ingredient">
      +ADD ITEMS
    </button>
  </div>

<div class="modal fade" id="ingredient" tabindex="-1" role="dialog" aria-labelledby="ingredient" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="ingredient">Ingredient</h4>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h5 class="manual-upload-title">Scan an item</h4>
      <div data-controller="barcode">
        <div id="reader" data-barcode-target="reader">
        </div>
      </div>
      <div class="modal-body">
        <h5 class="manual-upload-title">Manual upload</h4>
        <%= simple_form_for(user_ingredient) do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :quantity %>
          <%= f.input :unit, collection: %w[g kg ml l] %>
          <%= f.input :price_in_pence %>
          <%= f.input :expiry_date, html5: true %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
