<div class="recipes-container">
  <div class="filter-header">
    <p class="mb-0"><%= params[:filter] || "All Recipes" %></p>
  </div>
  <%= render "shared/search_bar"%>
  <%= render "shared/page_divider"%>
  <% @recipes.each do |recipe| %>
    <div class="recipe-card" data-controller="recipedropdown">
      <div class="recipe-image">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.image_url, alt: "Recipe Image" %>
          <!--EL ADDED CLASS "RECIPE-NAME-OVERLAY" FOR RECIPE NAME ON IMAGE CENTRE-->
          <div class="recipe-name-overlay">
            <%=recipe.name%>
          </div>
        <% end %>
        <button class="recipe-dropdown-button" data-action="click->recipedropdown#toggle">
          <i class="fa-solid fa-chevron-down fa-xl"></i>
        </button>
      </div>

      <div class="recipe-info" data-recipedropdown-target="content">
        <% if recipe.cuisine.present? %>
          <p class="each-recipe-info"><strong>Cuisine:</strong> <%= recipe.cuisine %></p>
        <% end %>
        <p class="each-recipe-info"><strong>Total time:</strong> <%= recipe.cook_time %></p>
        <p class="each-recipe-info"><strong>Difficulty:</strong>
          <% if recipe.difficulty == "hard" %>
            <i class="fa-solid fa-spoon"></i><i class="fa-solid fa-spoon"></i><i class="fa-solid fa-spoon"></i>
          <% elsif recipe.difficulty == "medium" %>
            <i class="fa-solid fa-spoon"></i><i class="fa-solid fa-spoon"></i>
          <% elsif recipe.difficulty == "easy" %>
            <i class="fa-solid fa-spoon"></i>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
    <div class="btn-position-fixed cook-outer-circle-show">
      <div class="cook-inner-circle-show">
        <%= link_to questions_path, class: "btn cook-items-button" do %>
          CHAT WITH US
        <% end %>
      </div>
    </div>
</div>

  <%# <%= link_to "Chat with us", questions_path, class: "btn-position-fixed add-button-container add-outer-circle-profile ", data: {controller: 'button'} %>
