<div class="recipes-container">
  <%= render "shared/search_bar"%>
  <%= render "shared/page_divider"%>
  <% @recipes.each do |recipe| %>
    <div class="recipe-card" data-controller="recipedropdown">
      <div class="recipe-image">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag recipe.image_url, alt: "Recipe Image" %>
          <!--EL ADDED CLASS "RECIPE-NAME-OVERLAY" FOR RECIPE NAME ON IMAGE CENTRE-->
          <div class="recipe-name-overlay">
            <%=recipe.name%>
          </div>
        <% end %>
        <button class="recipe-dropdown-button" data-action="click->recipedropdown#toggle">
          <i class="fa-solid fa-chevron-down fa-xl"></i>
        </button>
      </div>

      <div class="recipe-info" data-recipedropdown-target="content">
        <p class="each-recipe-info"><strong>Cuisine:</strong> <%= recipe.cuisine %></p>
        <p class="each-recipe-info"><strong>Total time:</strong> <%= recipe.cook_time %></p>
        <p class="each-recipe-info"><strong>Difficulty:</strong>
          <% if recipe.difficulty == "hard" %>
            <i class="fa-solid fa-spoon"></i><i class="fa-solid fa-spoon"></i><i class="fa-solid fa-spoon"></i>
          <% elsif recipe.difficulty == "medium" %>
            <i class="fa-solid fa-spoon"></i><i class="fa-solid fa-spoon"></i>
          <% elsif recipe.difficulty == "easy" %>
            <i class="fa-solid fa-spoon"></i>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
  <%= link_to "Chat with us", questions_path, id: "chat-button", class: "d-none btn-position-fixed", data: {controller: 'button'}%>
</div>
