<div class="recipe-show">
  <div class="recipe-show-header">
    <img src="<%= @recipe.image_url %>" alt="<%= @recipe.name %>" class="recipe-image">
  </div>

  <div class="recipe-show-name">
    <h2 class="mb-2"><%= @recipe.name %></h2>
  </div>
  <div class="recipe-show-details">
    <div>
      <p class="recipe-show-info"><strong>Cuisine:</strong> <%= @recipe.cuisine %></p>
      <p class="recipe-show-info"><strong>Total time:</strong> <%= @recipe.cook_time %></p>
      <p class="recipe-show-info"><strong>Difficulty:</strong> <%= @recipe.difficulty %></p>
    </div>
    <div class="recipe-show-add">
      <i class="fa-regular fa-circle-check fa-2xl"></i>
    </div>
  </div>

  <div class="recipe-show-ingredients">
    <h2>Ingredients:</h2>
    <ul>
      <% @recipe.ingredients.each do |ingredient| %>
        <li><%= ingredient.name %></li>
      <% end %>
    </ul>
  </div>

  <div class="recipe-show-method">
    <h2>Method:</h2>
    <%= simple_format(@recipe.instructions)%>
    <%= button_to "✅", recipe_meals_path(@recipe), data: {turbo_method: :post} %>
  </div>
</div>

