<div class="container profile-page">
  <div class="mt-4">
    <h1 class="profile-title">Your Dashboard</h1>
  </div>

  <div class="profile-card mt-3">
    <div class="profile-pic-wrapper">
      <img src="https://yaktribe.games/community/media/placeholder-jpg.84782/full" alt="Profile Picture" class="profile-picture">
      <div class="profile-page-stats">
        <div class="per-stat mb-1">
          <p>Carbon Savings:</p>
          <h2><%=@total_carbon.to_f%> kg CO<span class="subscript"><sub>2</sub></span></h2>
        </div>
        <div class="per-stat">
          <p>Cost Savings:</p>
          <h2><%= number_to_currency(@total_saving, unit: "£", precision: 2) %></h2>
        </div>
      </div>
    </div>
  </div>

  <hr class="divider" >

  <%= render "user_ingredients/modal_profile", user_ingredient: @user_ingredient %>

  <!-- this section should be done with the for each ingredient added -->
  <div class="profile-page-ingredients-list mt-4">

    <% @user.user_ingredients.each do |user_ingredient| %>
      <div class="pp-ingredient-card">
        <div class="">
          <i class="fa-solid fa-egg fa-xl"></i>
        </div>
        <div class="pp-ingredient-details">
          <p class="pp-ingredient-name"><%= user_ingredient.ingredient.name %></p>
          <p class="pp-ingredient-quantity"><%= user_ingredient.weight_in_grams %>g</p>
          <p><%= user_ingredient.expiry_date.strftime("%d/%m/%Y") %></p>
        </div>
        <div class="pp-ingredient-price">
          <%= number_to_currency(user_ingredient.price_in_pence / 100.to_f, unit: "£", precision: 2) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
