<!-- Search bar  -->
<div class="row justify-content-center">
  <div class="col-sm-8 mt-3 mb-0 search-bar">
    <%= form_with url: (params[:available_ingredients_only].present? ? recipes_path(available_ingredients_only: true) : recipes_path), method: :get, class: "search-input" do |form|%>
      <%= form.search_field :query, data: { controller: "filter"}, class: "search-input" %>
      <%= button_tag class: "search-button", type: "submit" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    <% end %>

  <!-- Dropdown for recipe options -->
  </div>
  <details class="dropdown-container" style="position: relative;">
    <summary class="float-end filter-button" style="position: absolute; top: -44px; right: 20px;">
      <i class="fa-solid fa-list"></i>
    </summary>
    <ul class="dropdown-links">
      <li class="dropdown-link"><%= link_to "All Recipes", recipes_path, class: "dropdown-text" %></li>
      <% if params[:query] %>
        <li class="dropdown-link"><%= link_to "Recipes I can make", recipes_path(available_ingredients_only: true, query: params[:query]), class: "dropdown-text" %></li>
      <% else %>
        <li class="dropdown-link"><%= link_to "Recipes I can make", recipes_path(available_ingredients_only: true), class: "dropdown-text" %></li>
      <% end %>
      <% if params[:query] %>
        <li class="dropdown-link"><%= link_to "Expiry date", recipes_path(order: 'expiry_date', query: params[:query]), class: "dropdown-text" %></li>
      <% else %>
        <li class="dropdown-link"><%= link_to "Expiry date", recipes_path(order: 'expiry_date'), class: "dropdown-text" %></li>
      <% end %>
      <% if params[:query] %>
        <li class="dropdown-link"><%= link_to "Recipes that use most ingredients", recipes_path(order: 'most_user_ingredients', query: params[:query]), class: "dropdown-text" %></li>
      <% else %>
        <li class="dropdown-link"><%= link_to "Recipes that use most ingredients", recipes_path(order: 'most_user_ingredients'), class: "dropdown-text" %></li>
      <% end %>
    </ul>
  </details>
</div>
